/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/*
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
*/
body {
  max-width: 80%;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}


md-list {
  display: flex row;

  flex-wrap: nowrap;
}



md-card {
  flow: 1 1 100%;
  color: red;
  background: #f2f2f2;
  margin:10px;
  width: 50%;
}

md-toolbar-row {
  justify-content: space-between;
}

p {
  margin: 16px;
}

[md-raised-button] {
  width: 100%;
}

md-grid-list {
  max-width: 1403px;
  margin: 16px;
}

md-sidenav-layout {
  height: 100vh;
}

md-sidenav {
  width: 320px;
}

.icon-20 {
  font-size: 20px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
